{% extends "base.html" %}

{% block head %}
<title>Django-Blog Post</title>
{% endblock %}

{% block body %}
<h4>
    <div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to my Sample Blog Post. Here you can post your blog and read other's blog.</p>
        <p>Hope you like this....</p>
          <a class="btn btn-primary" href="posts/" role="button">Look's Posts &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
</main>
</h4>
{% endblock %}