{% extends "base.html" %}

{% block head %}
<title>New Post</title>
{% endblock %}

{% block body %}

<hr>

<h1>New Post:</h1>

    <form action="newpostrecord/" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input class="form-control" type="search" name="title" id="title" aria-label="Search">
        <label for="content">Write Post:</label>
        <textarea class="form-control" name="content" id="content" cols="40" rows="10"></textarea>
        <br>
        <label for="author">Author:</label>
        <input class="form-control" type="search" name="author" id="author" aria-label="Search">
        <br>
        <label for="id_image">Image:</label>
        <br>
        <br>
        <input type="file" name="image">
        <br>
        <br>
        <input class="btn btn-secondary" type="submit" value="Post">
        <br>
        <br>
    
    </form>
{% endblock %}